.header{
    display: flex;
    justify-content: space-between;
    height: 5%;
}
.header button{
    height: 200%;
    align-items: center;
    background: rgba(0,0,0,0.2);
    color: white;
    border: 2px solid rgb(111, 4, 146);
    border-radius: 20px;
    position: relative;
    top: 15px;
    left: 39%;
}
.header a{
    position: relative;
    right: 40%;
    text-decoration: none;
    font-weight: 700;
}